h1{
    color:white;
}

body{
    background-color: #080880;
}

p,h2{
    color: blueviolet;
    text-align: center;
}

.header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}

.site_description{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item{
    background-color: lightgreen;
    font-size: large;
}

.footer{
    display: flex;
    justify-content: flex-end;
    background-color: white;
}